{% extends 'base.html.twig' %}

{% block title %}Voici nos biens{% endblock %}

{% block body %}

    <section class="container">
        <h2 class="mt-2">Voici nos biens</h2>
    </section>

{% endblock %}
